<div class="container" ng-controller="LoadButtonCtrl">
    <section class="button-demo form-horizontal">
        <div class="form-group">
            <div class="col-sm-3">
                <h3>expand-left</h3>
                <button ng-click="runLoading()" class="ladda-button btn btn-primary " data-color="green" data-style="expand-left">Submit</button>
            </div>
            <div class="col-sm-3">
                <h4>expand-right</h4>
                <button ng-click="runLoading1()" class="ladda-button btn btn-primary" data-color="green" data-style="expand-right">Submit</button>
            </div>
            <div class="col-sm-3">
                <h4>expand-up</h4>
                <button ng-click="runLoading2()" class="ladda-button btn btn-primary" data-color="green" data-style="expand-up">Submit</button>
            </div>
            <div class="col-sm-3">
                <h4>expand-down</h4>
                <button ng-click="runLoading3()" class="ladda-button btn btn-primary" data-color="green" data-style="expand-down">Submit</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <h4>contract</h4>
                <button ladda="loading4" ng-click="runLoading4()" class="ladda-button btn btn-warning" data-style="contract">Submit</button>
            </div>
            <div class="col-sm-3">
                <h4>zoom-in</h4>
                <button ladda="loading5" ng-click="runLoading5()" class="ladda-button btn btn-warning" data-style="zoom-in">Submit</button>
            </div>
            <div class="col-sm-3">
                <h4>zoom-out</h4>
                <button ladda="loading6" ng-click="runLoading6()" class="ladda-button btn btn-warning" data-style="zoom-out">Submit</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <h4>slide-left</h4>
                <button ladda="loading7" ng-click="runLoading7()" class="ladda-button  btn btn-info" data-style="slide-left">Submit</button>
            </div>
            <div class="col-sm-3">
                <h4>slide-right</h4>
                <button ladda="loading8" ng-click="runLoading8()" class="ladda-button btn btn-info" data-style="slide-right">Submit</button>
            </div>
            <div class="col-sm-3">
                <h4>slide-up</h4>
                <button ladda="loading9" ng-click="runLoading9()" class="ladda-button btn btn-info" data-style="slide-up">Submit</button>
            </div>
            <div class="col-sm-3">
                <h4>slide-down</h4>
                <button ladda="loading10" ng-click="runLoading10()" class="ladda-button btn btn-info" data-style="slide-down">Submit</button>
            </div>
        </div>
</section>
</div>