<div class="container-fluid" ng-controller="Menu_button">
    <div class="form-group">
        <div class="col-xs-6">
            //自己设计的下拉菜单
            <div id="Menu_dropdown">
                <ul>
                    <li>
                        <a herf="javascript:void(0)">文件</a>
                        <ul>
                            <li><a herf="javascript:void(0)">二级菜单</a></li>
                            <li><a herf="javascript:void(0)">二级菜单</a></li>
                            <li><a herf="javascript:void(0)">二级菜单</a></li>
                            <li><a herf="javascript:void(0)">二级菜单</a></li>
                        </ul>
                    </li>
                    <li>
                        <a herf="javascript:void(0)">编辑</a>
                        <ul>
                            <li><a herf="javascript:void(0)">二级菜单</a></li>
                            \<li><a herf="javascript:void(0)">二级菜单</a></li>
                        </ul>
                    </li>
                    <li>
                        <a herf="javascript:void(0)">图像</a>
                        <ul>
                            <li><a herf="javascript:void(0)">二级菜单</a></li>
                        </ul>
                    </li>
                    <li>
                        <a herf="javascript:void(0)">工具</a>
                        <ul>
                            <li><a herf="javascript:void(0)">二级菜单</a></li>
                        </ul>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>

        <!--bootstrap自带下拉框-->
        <div class="col-xs-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
