<div class="container-fluid" ng-controller="layer">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3">
                <h3>屏蔽浏览器滚动条</h3>
                <button ng-click="btn1()" class="btn btn-primary ">点击</button>
            </div>
            <div class="col-sm-3">
                <h4>全屏弹出</h4>
                <button ng-click="btn2()" class="btn btn-primary">点击</button>
            </div>
            <div class="col-sm-3">
                <h4>正常prompt样式</h4>
                <button ng-click="btn3()" class="btn btn-primary">点击</button>
            </div>
            <div class="col-sm-3">
                <h4>页面层</h4>
                <button ng-click="btn4()" class="btn btn-primary">点击</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <h3>上</h3>
                <button ng-click="btn5()" class="btn btn-primary " id="btn5">点击</button>
            </div>
            <div class="col-sm-3">
                <h4>下</h4>
                <button ng-click="btn6()" class="btn btn-primary" id="btn6">点击</button>
            </div>
            <div class="col-sm-3">
                <h4>左</h4>
                <button ng-click="btn7()" class="btn btn-primary" id="btn7">点击</button>
            </div>
            <div class="col-sm-3">
                <h4>右</h4>
                <button ng-click="btn8()" class="btn btn-primary" id="btn8">点击</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <h3>正上方</h3>
                <button ng-click="btn9()" class="btn btn-primary ">点击</button>
            </div>
            <div class="col-sm-3">
                <h3>视频</h3>
                <button ng-click="btn10()" class="btn btn-primary ">点击</button>
            </div>
        </div>
    </div>
</div>
