<div ng-controller="Canvas_3D" class="form-horizontal ">
    <!--<canvas id="canvas" width="800" height="600" style="border:1px solid #aaa"></canvas>-->
    <div style="width:100%;height:450px">
        <div class="Canvas_3D form-group">
            <div class="Demo1">
                <div class="Demo1Page" id="page1">1</div>
                <div class="Demo1Page" id="page2">2</div>
                <div class="Demo1Page" id="page3">3</div>
                <div class="Demo1Page" id="page4">4</div>
                <div class="Demo1Page" id="page5">5</div>
            </div>
        </div>

        <div class="form-group text-center">
            <button class="btn btn-primary " ng-click="next()">next</button>
            <button class="btn btn-primary " ng-click="pre()">pre</button>
        </div>
    </div>

    <div class="Canvas_cube">
        <div class="Demo2">
            <div class="Demo2Page" id="cubepage1">1</div>
            <div class="Demo2Page" id="cubepage2">2</div>
            <div class="Demo2Page" id="cubepage3">3</div>
            <div class="Demo2Page" id="cubepage4">4</div>
            <div class="Demo2Page" id="cubepage5">5</div>
            <div class="Demo2Page" id="cubepage6">6</div>
        </div>
    </div>

</div>
    